<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Listings</title>
</head> -->
<!-- <body> -->
<% layout("/layouts/boilerplate") %>

    <div class="row">

    <div class="col-8 offset-2">

   

    <h1>Your Desired Listings In WanderLust!..</h1>
</div>
    <div class="card col-6 offset-2">
        <img src="<%= listing.image %>" class="card-img-top show-img" alt="listing_image">
        <div class="card-body">
            <p class="card-text"> <b><%= listing.title %></b> <br> 
                <%= listing.description %> <br>
            &#8377; <%= listing.price.toLocaleString("en-IN") %> <br>
            <%= listing.location %> <br>
            <%= listing.country %>
            </p>
            <form action="/listings/<%= listing._id %>/edit" method="GET">
                <button class="btn btn-dark add-btn mb-4">Edit</button>
            </form>
            <br>
            <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
                <button class="btn btn-dark add-btn mb-4">Delete Property</button>
            </form>
        </div>
    </div>

    <!-- <ul>
        <li>Title: <%= listing.title %></li>
        <li>Description :<%= listing.description %></li>
        <li>Price :&#8377;<%= listing.price.toLocaleString("en-IN") %></li>
        <li>Location :<%= listing.location %></li>
        <li>Country :<%= listing.country %></li>
        <br>
        <form action="/listings/<%= listing._id %>/edit" method="GET">
            <button>Edit</button>
        </form>
        <br>
        <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
            <button>Delete Property</button>
        </form>
        <hr>
    </ul> -->
</div>

<!-- </body> -->
<!-- </html> -->